$spinner-size: 1.5rem !default;
$spinner-border-width: $spinner-size / 10 !default;
$spinner-color: #1c86f2 !default;
$spinner-secondary-color: rgba(0, 0, 0, 0.1) !default;
$spinner-invert-color: #fff !default;
$spinner-invert-secondary-color: rgba(255, 255, 255, 0.1) !default;
